footer {
	display: none;
}

/* Link */

a {
	color: #007b50;
}

a:hover {
	color: #7fd292;
}

/* Text */

h1 {
	font-size: 28px;
}


h2 {
	font-size: 23px;
}

h3 {
	font-size: 20px;
}

p {
	text-align: justify;
}
