footer {
	display: none;
}

/* Link */

a {
	color: #007b50;
}

a:hover {
	color: #7fd292;
}

/* Text */

h1 {
	font-size: 28px;
	color: #444;
}


h2 {
	font-size: 23px;
	color: #444;
}

h3 {
	font-size: 20px;
	color: #444;
}

p {
	text-align: justify;
	color: #444;
}

/* looqbox highlight */

pre .looqbox {
	margin: -9.5px;
	padding: 17.5px 19.5px ;
	background-color: #323232f2;
	color: #fff;
}

.looqbox .hljs-title {
	color: #cc7833f2;
}

.looqbox .hljs-keyword {
	color: #cc7833f2;
}

.looqbox .hljs-variable {
	color: #fff;
}

.looqbox .hljs-number {
	color: #fff;
}

.looqbox .hljs-tag {
	color: #fff;
}

.looqbox .hljs-built_in {
	color: #cc7833f2;
}

.looqbox .hljs-params {
	color: #fff;
}

.looqbox .hljs-comment {
	color: #929292f2;
}

.looqbox .hljs-string {
	color: #a2be62f2;
}

blockquote {
	font-size: 14px !important;
	border-left-color: #007b50;
	background-color: white;
	color: #444;
}